<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nailicious.no - Admin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Admin side</h1>
    <table>
    <tr>
        <th>Kunde</th>
        <th>Tjeneste</th>
        <th>Dato</th>
        <th>Tid</th>
    </tr>
    {% for b in bookings %}
    <tr>
        <td>{{ b[1] }}</td>
        <td>{{ b[2] }}</td>
        <td>{{ b[3] }}</td>
        <td>{{ b[4] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>