<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nailicious.no - Bestill time</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="../static/images/Nailicous.svg" alt="Nailicous with a cursive font and a strawberry stem on the u">
        </a>  
    </div>
    
    <div class="subtitle">
        <h1>Bestill time</h1>
    </div>

    <div class="booking">
        <form method="POST">
            Velg tjeneste:
            <select name="service" required>
                {% for service in services %}
                    <option value="{{ service[0] }}">
                        {{ service[1] }} – {{ service[3]|int }} kr
                    </option>
                {% endfor %}
            </select><br><br>

            Dato:
            <input type="date" name="dato" required><br><br>

            Tid:
            <select name="tid" required>
                <option value="12:00">12:00</option>
                <option value="14:00">14:00</option>
                <option value="17:00">17:00</option>
            </select><br><br>

            <button type="submit">Bestill</button>
        </form>

        <p>
            Bestilt time før? <a href="/login">Logg inn her</a>
        </p>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
</body>
</html>