<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nailicious.no - Hovedside</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="logo">
    <a href="/">
      <img src="../static/images/Nailicous.svg" alt="Nailicous with a cursive font and a strawberry stem on the u">
    </a>  
  </div>
    
    <div class="button">
        <a href="/services">Se tjenester</a>
        <a href="/book">Bestill time</a>
    </div>
    


    
</body>
</html>