<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nailicious.no - Registrer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="logo">
    <a href="/">
      <img src="../static/images/Nailicous.svg" alt="Nailicous with a cursive font and a strawberry stem on the u">
    </a>  
  </div>
    
    <div class="subtitle">
      <h1>Lag bruker</h1>
    </div>
   
    <div class="login">
        <form method="POST">
            Navn:
            <input type="text" name="navn" required><br><br>

            Email:
            <input type="email" name="email" required><br><br>

            Passord:
            <input type="password" name="password" required><br><br>

            <button type="submit">Registrer</button>
        </form>

        <p>
            Har du allerede bruker?
            <a href="/login">Logg inn her</a>
        </p>
    </div>
    
</body>
</html>